::-webkit-scrollbar {
  display: none;
  width: 0;
}
html {
  scroll-behavior: smooth;
}
.img {
  width: 100%;
  height: auto;
  transition: all 1s;
  border: red 2px;
}
.about-container {
  margin-top: 3rem;
  margin-right: 13rem;
  margin-left: 13rem;
  margin-bottom: 4rem;
  padding: 2rem;
  padding-top: 0.3rem;
  transition: all 1s;
  animation: fade 1.2s ease-in-out;
}
hr {
  height: 3px;
  border: 1px solid;
}
.tag {
  padding: 1.2rem;
  padding-bottom: 0.5rem;
  color: antiquewhite;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 600;
}
.about-para {
  font-size: 1.3rem;
  text-align: justify;
  font-weight: 600;
}
.head {
  color: red;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  align-content: center;
  padding-top: 1.9rem;
  text-align: center;
  transition: all 1s;
  margin-bottom: 20px;
}
.prom-link {
  color: red;
  font-weight: bold;
}

.prom-link:hover {
  color: white;
  transition: all 1s;
}

hr {
  color: red;
}

@media screen and (max-width: 1080px) {
  .about-container {
    margin-top: 3rem;
    margin-right: 8rem;
    margin-left: 8rem;
    margin-bottom: 4rem;
    transition: all 1s;
    padding: 10px;
  }
  .head {
    font-size: 3rem;
  }
  .img {
    max-width: 100%;
    padding: 10px;
  }
  .prom {
    margin-top: 3rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    transition: all 1s;
  }
}
@media screen and (max-width: 970px) {
  .about-container {
    margin-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
    transition: all 1s;
  }
  .img {
    max-width: 100%;
    padding: 10px;
  }
  .prom {
    margin-top: 3rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    transition: all 1s;
    padding: 16px;
  }
  .about-para {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 470px) {
  .about-container {
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
    transition: all 1s;
  }
  .profile {
    /* align-items: center; */
    padding: auto;
    margin: 0;
  }
  .head {
    font-size: 2.4rem;
  }
  .tag {
    font-size: 1.3rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .img {
    max-width: 100%;
    padding: 10px;
  }
  .prom {
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
    transition: all 1s;
  }
  .about-para {
    font-size: 1rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-1.2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
