.sponsors__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.title{
  margin-top: 20px;
}
.sponsor__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 750px;
  margin: 0 auto;
  width: 100%;
}

.sponsor__image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: 400ms;
}

.sponsor__name{
  text-align: center;
}

.sponsor__name span {
  color: red;
  margin-top: 30px;
  font-size: 35px;

}

.sponsor__description {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.sponsor__link{
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}
.sponsor__link:hover{
  color: red;
}
.payment__button{
  margin-top: 10px;
  text-align: center;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  outline: none;
  border: none;
}

.sponsor__contact__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sponsor__contact__text {
  font-size: 18px;
  font-weight: bold;
}

.sponsor__contact{
  text-decoration: none;
  color: red;
  font-weight: 600;
  font-size: 18px;
}
.sponsor__contact:hover{
  color: red;
}

@media screen and (min-width: 360px) and (max-width: 560px) {
  .sponsor__name span{
    font-size: 28px;
  }
  .sponsor__description {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
  }
  .payment__button{
    margin-top: 10px;
    text-align: center;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 16px;
  }
}

@media screen and (max-width: 359px) {
  .payment__button{
    margin-top: 10px;
    text-align: center;
    padding: 10px 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 12px;
  }
  .sponsor__name span{
    font-size: 20px;
  }
  .sponsor__description {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
  }
}