@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: black;
  animation: fade 0.8s ease-in-out;
  font-family: 'Inter', sans-serif;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-1.2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}


canvas {
  index: 0;
  display: block;
  vertical-align: bottom;
}

.test { 
  index: 50;
  top: 100px;
  position: absolute;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}